<h1>Edit Category</h1>

<form [formGroup]="categoryForm" (ngSubmit)="onCategoryFormSubmitted(categoryForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label><input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="categoryForm.get('name')!.invalid">name is invalid</mat-error>
        </mat-form-field>
    </div>
    <div><button type="submit" mat-raised-button color="primary">Submit</button></div>
</form>